* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 14px;
	font-family:  "Helvetica Neue", Arial, Helvetica, sans-serif;
	position: relative;
	color: #333;
}

header, nav {
	margin: 0 auto;
	width: 100%;
	height: 40px;
	background-color: #026AA7;
	position: fixed;
	z-index: 5;
}

.search, .account {
	width: 25%;
	height: 40px;
	display: inline-block;
	vertical-align: top;
}

.btn-tableros {
	margin: 5px 5px 5px 10px;
	background-color: #4e97c2;
	padding: 7px 10px 7px 10px;
	border-radius: 4px;
	color: #fff;
}

input[type='search'] {
	height: 30px;
	margin-top: 5px; 
	background-color: #4e97c2; 
	border: none;
	border-radius: 4px;
	outline: none;

}

.header-logo {
	width: 49%;
	height: 40px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

span.logo {
	width: 80px;
	height: 30px;
	margin-top: 5px;
	background-image: url(../img/header-logo.png);
	display: inline-block;
	vertical-align: middle;
	z-index: 10;
}

/* Menu Usuario - Derecha */

span.icon-menu {
	margin-top: 5px;
	background-color: #4e97c2;
}

.icon-menu a, .icon-user a {
	color: #fff;
	text-decoration: none;
}


#main {
	width: 100%;
	height: 800px;
	position: absolute;
	top: 40px;
	background-color: #1d8dc2;
}

.second-menu {
	width: 100%;
	height: 40px;
	color: #fff;

}

.title {
	padding-left: 10px;
	display: inline-block;
}

#list-full  {
	vertical-align: top;
}

#initial-list {
	width: auto;
	height: auto;
	display: inline-block;
	margin: 10px;
	padding: 6px 4px 2px 4px;
	text-align: center;
	vertical-align: top;
}

.is-shown {
	background-color: #e2e4e6;
	border-radius: 4px;
}

/* Colores iniciales del Input cuando no hay lista */

.initial-input {
	background-color: #157cac;
	border: none;
	color: #e6e6e9;
}

.initial-input:hover {
	background-color: #11658e;
}

.initial-input::placeholder {
	color: #ccc;
	padding-left: 4px;
}

.grey-input, .initial-input {
	width: 270px;
	height: 40px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.15);
	font-size: 1em;
	border-radius: 3px;
	padding: 4px;
	outline: 0;
} 

.grey-input {
	background-color: #ccc;
	border: 1px solid #aaa;
    color: #333;
}

.grey-input::placeholder {
	color: #333;
	padding-left: 4px;
}

.list-options {
	text-align: left;
	padding: 4px 6px 4px 6px;
}

#btn-add {
	background-color: #5aac44;
	border: 1px solid #5aac44;
	border-radius: 4px;
	padding: 4px 16px 4px 16px;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
}
 
/* Estilo de Lista Creada */

.list-ready {
	width: 20%;
	height: auto;
	display: inline-block;
	margin: 10px;
	background-color: #e2e4e6;
	border-radius: 4px;
	text-align: left;
	vertical-align: top;
}

.title-list {
	cursor: pointer;
	font-weight: bold;
	padding: 10px 8px;
}

.add-card {
	width: 270px; 
	height: 40px;
}

.add-card:hover {
	background-color: #cdd2d4;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
} 

.open-card {
	line-height: 40px;
	padding: 10px 142px 10px 4px;
	color: #8b9398;
	text-decoration: none;
	bottom: 0;
}

.open-card:hover {
	color: #4d4d4d;
	text-decoration: underline;
	background-color: #cdd2d4
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

/* Seccion textarea tarjeta, boton añadir, close icon */

.txt-card {
	width: 95%;
    padding: 6px;
    margin: 0px 6px;
    border-radius: 3px;
}

textarea {
	background-color: 
}

.btn-controls {
	width: 100%;
	padding: 4px 6px 8px 6px;
}

/* Iconos */

.fa-times {
	padding: 6px;

}
